/* @import '../node_modules/normalize.css/normalize.css'; */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.title {
  margin: 30px;
  letter-spacing: -4px;
}

.color-palette {
  display: flex;
  height: 300px;
  width: 100%;
}

.color-sample {
  width: 20%;
  height: 100%;
  position: relative;
}

.color-info {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lock-icon {
  height: 30px;
  margin: 20px 0 5px 0;
  cursor: pointer;
}

.hex-color {
  font-size: 1.5em;
}

.generate-button {
  width: 100%;
  height: 60px;
  font-size: 2em;
  padding: 10px;
  margin-bottom: 50px;
  background-color: lightblue;
  cursor: pointer;
  border: 2px solid;
  border-color: transparent;
}

.generate-button:hover {
  border: 2px solid blue;
}

.generate-button:active {
  font-size: 1.8em;
}

.generate-button:focus {
  outline: none;
}

.palette-form {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select-projects {
  height: 60px;
  font-size: 1.5em;
  padding: 10px 60px 10px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url('https://image.flaticon.com/icons/svg/60/60781.svg');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 1em;
  background-color: lightblue;
  border: 2px solid;
  border-color: transparent;
}

.select-projects:hover {
  border: 2px solid blue;
}

.select-projects:focus {
  outline: none;
}

.palette-name-input {
  font-size: 1.5em;
  padding: 10px;
  height: 60px;
}

.save-palette {
  height: 60px;
  width: 200px;
  font-size: 1.5em;
  padding: 10px;
  background-color: lightblue;
  border: 2px solid;
  border-color: transparent;
}

.save-palette:hover {
  border: 2px solid blue;
}

.save-palette:active {
  font-size: 1.4em;
}

.save-palette:focus {
  outline: none;
}

.projects-container {
  text-align: center;
  border-top: 2px solid black;
  padding-top: 30px;
  margin-bottom: 50px;
}

.project-form {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
  border-bottom: 2px solid black;
}

.project-label {
  font-size: 2em;
  margin: 10px;
}

.project-name-input {
  font-size: 1.5em;
  padding: 10px;
  height: 60px;
}

.save-project {
  height: 60px;
  width: 200px;
  font-size: 1.5em;
  padding: 10px;
  background-color: lightblue;
  border: 2px solid;
  border-color: transparent;
}

.save-project:hover {
  border: 2px solid blue;
}

.save-project:active {
  font-size: 1.4em;
}

.save-project:focus {
  outline: none;
}

.project {
  padding: 30px;
  width: 49%;
  margin: 0;
  float: left;
}

.project-name {
  display: inline-block;
  text-decoration: underline;
}

.saved-palette {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.palette-name {
  padding-top: 5px;
  margin-right: 5px;
}

.delete-palette-icon {
  height: 30px;
  margin-left: 10px;
}

.delete-palette-icon:hover {
  cursor: pointer;
}

.color-thumbnail {
  height: 30px;
  width: 30px;
  display: inline-block;
}
